body {font-size:100%;margin:0 auto;font-family: 'Roboto Condensed', san-serif;}

p, a, li, td {font-size:.9em;line-height: 1.5;font-weight: 300;font-family: "Genium Basic", serif}
h1, h2, th {font-size:1em;font-weight:700;}

#compare-contain {padding:0 5%;}
#compare-header {margin-bottom: 50px;}
	#compare-header h1 {font-size:2em;}
#compare-content {width:100%;border-bottom: #aaa solid 1px;}
	table {border-spacing:0;border-collapse: collapse;}
		thead:first-of-type {border-bottom: #ccc solid 1px;border-top: #aaa solid 1px;margin-bottom: 20px}
		tr {}
			th, td {padding:10px 1%;width:31.333333333%;}
			td {padding-bottom:20px;vertical-align: top;}			
#compare-footer {}
	#compare-footer p {font-family: 'Roboto Condensed', san-serif;font-size: .8em;}